@model CQA.Models.Article

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("UploadImage", "Files", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadImage" }))
{
    <input type="file" name="files" multiple="" />
    <input type="submit" id="submitImage" value="OK" />
}
<img id="loader" style="display: none" src="~/Images/loader.gif"/>
<p>Nahraté obrázky:</p>
<div id="uploadedImages">
    @Html.Raw(ViewData["UploadedImages"])
</div>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Article</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: ["advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "template paste textcolor"],
        image_advtab: true,
        encoding: "xml",
        entity_encoding: "raw",
        relative_urls: false,
        remove_script_host: false,
        setup: function (editor) {
            editor.on('SaveContent', function (ed) {
                ed.content = ed.content.replace(/&#39/g, "&apos");
            });
        }

     });
    </script>

    <script type="text/javascript" src="~/Scripts/jqueryForm.js"></script>
    <script type="text/javascript">
        //Handles upload of images for article
        $(document).ready(function ($) {
            $("#submitImage").click(function () {
                $("#loader").fadeIn();
            });
            $("#uploadImage").ajaxForm({
                url: '@Url.Action("UploadImage", "Files")',
                type: 'post',
                dataType: 'text',
                success: function (data) {
                    $("#loader").fadeOut();
                    $("#uploadedImages").html("");
                    $("#uploadedImages").prepend(data);
                    $(".name").fadeIn('slow');

                }
            });

            $("#uploadedImages").on("submit", ".deleteImage", function (event) {
                $(this).ajaxSubmit({
                    url: '@Url.Action("DeleteImage", "Files")',
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        //Hack because normal selector is not working with dot
                        $(document.getElementById("x" + data.Name)).hide('slow', function () { $(document.getElementById('x' + data.Name)).remove() });
                    }
                });
                event.preventDefault();
            });
        });

    </script>
}

