@model CQA.Models.Article

@{
    ViewBag.Title = "Details";
}

<h1> @Html.DisplayFor(model => model.Title)</h1>
@if (Request.IsAuthenticated){

    <!--@Ajax.ActionLink("a" ,
        "ToggleFavourite" ,
        "Articles", 
        new {
            ArticleId = Model.ArticleId
            },
        new AjaxOptions{
                        HttpMethod = "POST",
                    },
        new { @id="ToggleFavourite"}
     )-->

    <div id="toggleFavourite" title="Kliknutím pridáte/odoberete článok do/z obľubených">
        @if (ViewData.ContainsKey("IsFavourite")){
        <img src="~/Images/favouriteIcon.png" />
        }
        else
        {
           <img src="~/Images/favouriteIconIn.png" /> 
        }
    </div>
    
    <!-- used for ajax in AddAntiForgeryToken() -->
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
}


    <div class="display-field">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#toggleFavourite").click(function () {
                var postData = {}
                postData.ArticleId = parseInt(@(Model.ArticleId));
                $.ajax({
                    url: "@Url.Action("ToggleFavourite", "Articles")",
                    type: 'post',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "json",
                    data: AddAntiForgeryToken(postData),
                    success: function (data) {
                        $("#toggleFavourite").children("img").attr("src", data.Icon);
                        $("#toggleFavourite").attr("title", data.Title);
                    }
                });
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}
