@model CQA.Models.Question

@{
    ViewBag.Title = "Odpovedzte na otázku";
}


@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Odpovedzte na otázku</h3>

<div class="question">
    <h3>@Html.DisplayFor(model => model.QuestionText)</h3>
    @if (Model.Hint != null)
    {
        <div id="hint"> @Ajax.ActionLink("Zobraziť nápovedu", "GetHint", "Questions", new { questionId = Model.QuestionId }, new AjaxOptions
                   {
                       OnSuccess = "showHint(data)",
                       HttpMethod = "GET"
                   },
                   new { @class = "btn" })        
        </div>
    }
</div>
 
   
    @{Html.RenderPartial("_CreateAnswerForm", new CQA.Models.CreateAnswer(Model.QuestionId));}
    <div id="loader" style="display:none">Loadujem</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")   
        <script>

            function onAnswerCreation() {
                $("#loader").fadeIn(100);
            }

            function AnswerCreated(data) {
                var s = '<div class="answer">' +
               '<div class="answer-author">' + data.answerAuthor + '</div>' +
               '<div class="answer-text">' + data.answerText + '</div>' +
                '<form data-ajax="true" data-ajax-method="POST" data-ajax-url="/Questions/CreateEvaluation" method="post">' +
                    '<input name="answerId" type="hidden" value="'+data.answerId+'" />' +
                    '<input type="hidden" class="rating" name="rating" value="50" />' +
                    '<div class="slider-range"></div>' +
                    '<input type="submit" />' +
                '</form>' +
                '</div>'

                $("#loader").hide();
                $("#noAnswers").remove();
                $("#newAnswer").remove();
                $(s).hide().appendTo("#answers").fadeIn(300);
                $(".slider-range").last().trigger('mySliderTrigger');

            }


            //Todo add to standalone js file because it is the same for evaluating

            function showHint(data) {
                $("#hint").children(".btn").remove();
                var el = $("<span>Nápoveda:<b> "+data.Hint+"</b></span>")
                el.hide();
                $("#hint").prepend(el);
                el.fadeIn(250);
            }

            $(document).ready(function () {
                $("#MenuSetupItem"+@(Model.SetupId)).addClass("activeMenuItem")
            })
            
    </script>
}