@model CQA.Models.Answer

@{
    ViewBag.Title = "Ohodnoťte odpoveď";
}
@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Ohodnotťe správnosť odpovede</h3>

<div class="question">
    <h3> @Html.DisplayFor(model => model.Question.QuestionText) </h3>
    @if (Model.Question.Hint != null)
    {

        <div id="hint"> @Ajax.ActionLink("Zobraziť nápovedu", "GetHint", "Questions", new { questionId = Model.QuestionId }, new AjaxOptions
                    {
                        OnSuccess = "showHint(data)",
                        HttpMethod = "GET"
                    },
                    new { @class = "btn" })        
        </div>

    }
</div>
<div class="answer-text"> @Html.DisplayFor(model => model.Text)</div>

        @using (Ajax.BeginForm(new AjaxOptions()
        {
            HttpMethod = "POST",
            OnBegin = "onAnswerCreation",
            Url = Url.Action("CreateEvaluation", "Questions")
        }))
        {
            <input name="answerId" type="hidden" value="@Html.DisplayFor(model => model.AnswerId)" />
            <input type="hidden" class="value" name="value" value="50" />
            
            <img src="~/Images/thumbDown.png" />
            <div class="slider-range" style="float:left"></div> 
            <img src="~/Images/thumbUp.png" />
            <input type="submit" />
            <div class="textValue">3</div>
        }

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.ui.touch-punch.min.js")
    <script>$('#widget').draggable();</script>
   <script>
       $(function () {
           $(".slider-range").each(function () { $(this).trigger('mySliderTrigger') })
               $(".slider-range").slider({
                   range: false,
                   min: 0,
                   max: 100,
                   value: 50,
                   slide: function (event, ui) {
                       $(this).parent().find(".value").val(ui.value);
                       hex = hexFromRGB(10, 10, ui.value);
                       if (ui.value > 50) {
                           $(this).parent().find(".ui-widget-content").css("background", "rgba(24, 179, 70, " + (ui.value - 50) * 2 / 100 + ")");
                       }
                       else {
                           $(this).parent().find(".ui-widget-content").css("background", "rgba(219, 23, 9, " + (50-ui.value) * 2 / 100 + ")");
                       }
                       var el = $(this).parent().find(".textValue");
                       if (ui.value < 20)
                           el.html("1")
                       else if (ui.value < 40)
                           el.html("2")
                       else if (ui.value < 60)
                           el.html("3")
                       else if (ui.value < 80)
                           el.html("4")
                       else el.html("5");
                           
                   }
               });

           });


       function hexFromRGB(r, g, b) {
           var hex = [
           r.toString(16),
           g.toString(16),
           b.toString(16)
           ];
           $.each(hex, function (nr, val) {
               if (val.length === 1) {
                   hex[nr] = "0" + val;
               }
           });
           return hex.join("").toUpperCase();
       }

       function onAnswerCreation() {
           $("#loader").fadeIn(100);
       }

       function showHint(data) {
           $("#hint").prepend(data.Hint);
       }
    </script>
       
}