<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Otázkovač</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap/css/normalize.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap-override.css" rel="stylesheet">
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
        
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("document").ready(function () {

            /*Start: Prevent the default white background on blur of top navigation */
            $(".dropdown-menu li a").mousedown(function () {
                var dropdown = $(this).parents('.dropdown');
                var link = dropdown.children(':first-child');
                link.css('background-color', "#2E3436");
                link.css('color', 'white');
            });

            var acc = "crane.fiit"
            var prov = "gmail";
            
            $("footer").children("a").attr("href", "mailto:" + acc + "@@" + prov + ".com?Subject=Feedback")
            $("#eadd").text(acc + "@@" + prov + ".com")
            /*End: Prevent the default white background on blur of top navigation */
            
        });
    </script>
    @RenderSection("scripts", required: false)
  
</head>
<body>
    <header>
       @Html.Action("_MainMenu", "Home")

    </header>
    <div class="content">
    @RenderSection("Banner", required: false)
        <div class="container">            
            @RenderBody()
        </div>
    </div>

    


    
  <footer>Našli ste chybu alebo máte návrhy na zlepšenie? Pošlite nám email na: <a href="#"><span id="eadd"><noscript>Musíte mať povolený javascript</noscript></span></a></footer>  
</body>
</html>
