@model ICollection<CQA.Models.EvaluatedAnswers>

@section Styles{
    @Styles.Render("~/Content/themes/base/css")
}

@{
    ViewBag.Title = "Ohodnotené odpovede";
}


@if(!Model.Any()){
    <h4>Ľutujeme, zatiaľ pre Vás nie sú k dispozícii žiadne ohodnotené odpovede.</h4>
}
else{
    <h3>Vaše ohodnotené odpovede</h3>
    foreach (var ea in Model)
    {
        <div class="setup" >@Html.Raw("<span style=\"font-size: 24px\">" + ea.Setup.Subject.Name + " " + ea.Setup.Name + " </span><br/>" +
            "Počet nových ohodnotených odpovedí:" + "<b>" + ea.UnseenCount +
            " </b> | "+
            "Počet všetkých ohodnotených odpovedí: " + "<b>" + ea.Answers.Count() + "</b>" )
        </div>
  
    
        {
            int i = 0;      
            foreach(var a in ea.Answers){
                i++;
            
                <div class="myAnswer @if(i%2 == 0){@("greyBackground")}" @if(i == 1){@Html.Raw("style=\"border-top: 1px solid lightgrey;\"")} >
                    <div class="evalValue">
                        <div class="evalValueBg">
                            <span class="cleanValue">@((int)(a.GetAvgEvaluation()*100))</span>%
                            <div style="font-size: 11px; line-height: 11px">@(a.Evaluations.Count()) hod.</div>
                        </div>
                    </div>

                    <b style="float:left; width: 60px; margin-left: 5px;"> Otázka: </b> 
                    <div class="elipsis">@(a.Question.QuestionText)</div>
                   <b style="float:left; width: 80px;margin-left: 5px;"> Odpoveď: </b> 
                    <div class="elipsis">@(a.Text)</div>
                    <input type="hidden" value="@(a.Question.QuestionText)" name="que" class="que" />
                    <input type="hidden" value="@(a.Text)" name="ans" class="ans" />
                    <input type="hidden" value="@(a.Evaluations.Count())" name="count" class="count" />
                    <div class="detail btn" title="Zobraziť detail">
                        ››
                    </div>
                    <div style="clear:both"></div>
                 </div>
            }
        }
    
    
        <div id="dialog" title="Detail odpovede">
            <div class="dialogQaText" id="que"></div>
            <div class="dialogQaText" id="ans"> </div>
            <div class="sliderWrap">
                <div id="textValue"> </div>
                <div class="ui-widget-content-wrapper" style="width: 100%;">
                    <div class="slider-range" ></div>
                </div> 
            </div>
            <div style="clear: both"></div>
            <div style="text-align: center; width: 100%"> Počet hodnotení odpovede: <b id="evalsCount">12</b></div>
        
        </div>
    }
}

@section Scripts{
     @Scripts.Render("~/Scripts/jquery.dotdotdot.min.js")
     @Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">

    $(document).ready(function () {

        $(".elipsis").dotdotdot();
        
        $(".slider-range").slider({
            range: false,
            min: 0,
            max: 100,
            value: 50,
        });
        $(".slider-range").slider('disable');

        $("#dialog").dialog({
            autoOpen: false,
            resizable: true,
            modal: true,
            width: 'auto'
        });

        $(".detail").click(function () {
            var val = $(this).siblings(".evalValue").children(".evalValueBg").children(".cleanValue").text();
            val = parseFloat(val.replace(/\s/g, "").replace(",", "."));
            $(".slider-range").slider('value', val);
            $("#que").html("<b>Otázka: </b>");
            $("#que").append($(this).siblings(".que").val());
            $("#ans").text($(this).siblings(".ans").val());
            $("#ans").prepend("<b>Odpoveď: </b>");
            $("#evalsCount").text($(this).siblings(".count").val());
            setSlider(val)
        });

        $(".myAnswer").click(function () {
            var val = $(this).children(".evalValue").children(".evalValueBg").children(".cleanValue").text();
            val = parseFloat(val.replace(/\s/g, "").replace(",", "."));
            $(".slider-range").slider('value', val);
            $("#que").html("<b>Otázka: </b>"); 
            $("#que").append($(this).children(".que").val());
            $("#ans").text($(this).children(".ans").val());
            $("#ans").prepend("<b>Odpoveď: </b>");
            $("#evalsCount").text($(this).children(".count").val());
            setSlider(val)
            
        });

        function setSlider(val) {
            if (val > 50) {
                $(".ui-widget-content-wrapper").css("background", "rgba(22, 149, 49, " + (val - 50) * 2 / 100 + ")");
            }
            else {
                $(".ui-widget-content-wrapper").css("background", "rgba(143, 20, 20, " + (50 - val) * 2 / 100 + ")");
            }
            var el = $("#textValue");
            if (val < 8)
                el.html("Úplne nesprávne")
            else if (val < 36)
                el.html("Takmer nesprávne")
            else if (val < 64)
                el.html("Čiastočne správne")
            else if (val < 92)
                el.html("Takmer správne")
            else el.html("Úplne správne");
            $("#dialog").dialog("open");
        }

        $(".evalValueBg").each(function () {
            var val = parseFloat($(this).text().replace(/\s/g, "").replace(",", "."));
            hex = hexFromRGB(10, 10, val);
            if (val > 50) {
                $(this).parent().css("background", "rgba(22, 149, 49, " + (val - 50) * 2 / 100 + ")");
            }
            else {
                $(this).parent().css("background", "rgba(143, 20, 20, " + (50 - val) * 2 / 100 + ")");
            }
        });

        function hexFromRGB(r, g, b) {
            var hex = [
            r.toString(16),
            g.toString(16),
            b.toString(16)
            ];
            jQuery.each(hex, function (nr, val) {
                if (val.length === 1) {
                    hex[nr] = "0" + val;
                }
            });
            return hex.join("").toUpperCase();
        }
    });
    </script>
    }