@model CQA.Models.Setup

@{
    ViewBag.Title = "Details";
}

@section Styles {
    @Styles.Render("~/Content/themes/base/css")
}

<h2>Details</h2>
Pridať odpovede
<form action="@Url.Action("AddAnswers", "Setups")" method="post" enctype="multipart/form-data" >
    <input name="file" type="file" accept=".csv" />
    <input type="hidden" name="setupId" value="@Model.SetupId" />
    <button type="submit" class="btn btn-primary">Pridať odpovede</button>
</form>

Koncepty:
<div id="concepts">
@{
    <div id="conceptsList">
        @foreach (var concept in Model.Subject.Concepts.OrderBy(c => c.Value)){
            <div style="float:left">
                <span class="existingConcept" >@(concept.Value)
                    <span style="margin-left:10px; cursor:pointer;" class="deleteConcept">x</span>
                </span>
                <input type="hidden" class="conceptId" value="@concept.ConceptId" />
            </div>
        }
    </div>
    <div style="clear:both"></div>
}
</div>
Pridať koncept:
@using (Ajax.BeginForm(null, null, new AjaxOptions()
{
    HttpMethod = "POST",
    Url = Url.Action("AddConcept", "Subjects"),
    OnSuccess = "AddConcept(data)"
},
new { autocomplete = "off" }))
{
    <input name="SubjectId" type="hidden" value="@Html.DisplayFor(model => model.SubjectId)"/>
    <input id="newConcept" name="Value" />
    <button id="addConcept" type="submit" class="btn btn-default">Pridať koncept</button>
}

<hr />
<p>Začiatok semestra:</p>
@using (Ajax.BeginForm(null, null, new AjaxOptions()
{
    HttpMethod = "POST",
    Url = Url.Action("SetStartDate", "Setups"),
},
new { autocomplete = "off" }))
{
    <input type="text" name="date" value="@Html.DisplayFor(model => model.StartDate)" id="datepicker">
    <input name="setupId" type="hidden" value="@Html.DisplayFor(model => model.SetupId)"/>
    <button type="submit" class="btn" style="position:relative; top: -6px">Nastaviť</button>
}
<hr />
<table id="conceptWeeks">
    @{
        <tr>
            <td></td>
            @for (int i = 0; i < 13; i++)
            {
                <td style="text-align:center">@(i+1)</td>
            }
        </tr>
        foreach (var concept in Model.Subject.Concepts.OrderBy(c => c.Value))
        {
            <tr class="concept" id="@("c"+concept.ConceptId)">
                <td class="conceptValue">@(concept.Value) (@concept.Questions.Count())</td>
                
                @for (int i = 0; i < 13; i++)
                {
                    
                    string style = "";
                    if (Model.StartDate.AddDays(7 * i) <= DateTime.Now && Model.StartDate.AddDays(7 * i +6) >= DateTime.Now)
                    {
                        style = "style=\"background: green;\"";
                    }
                    <td @Html.Raw(style)>        
                    @if (concept.ActiveWeeksList.Contains(i))
                    {
                        <input type="checkbox" class="activeCheckbox"  checked data-week="@i" data-conceptId="@concept.ConceptId" />
                    }
                    else
                    {
                        <input type="checkbox" class="activeCheckbox" data-week="@i" data-conceptId="@concept.ConceptId" />
                    }
                    </td>
                }
          </tr>
        }
    }
    <tr>
        <td></td>
     @for (int i = 0; i < 13; i++)
     {
         List<CQA.Models.Question> questions = new List<CQA.Models.Question>();
         foreach (var concept in Model.Subject.Concepts)
         {

             if (concept.ActiveWeeksList.Contains(i))
             {
                 foreach (var q in concept.Questions)
                 {
                     if (!questions.Contains(q))
                     {
                         questions.Add(q);
                     }
                 }
             }
         }
         <td id="weekTotal@(i)">@questions.Count()</td>;
     }
     </tr>
</table>
<hr />

 
<!--
<fieldset>
    <legend>Setup</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.Name)
    </div>
</fieldset> -->
<p>
    @Html.ActionLink("Stats", "GetBasicStatistics") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.SetupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        function AddConcept(data){
            var concept = $("#newConcept").val()
            $("#newConcept").val("")
            if(concept != "")
                $("#conceptsList").append('<div class="existingConcept">' + concept + '</div>')
            $("#conceptWeeks").append(data["conceptWeeks"]);


        }
       $(document).ready(function (){
 

           $(document).on("click", ".activeCheckbox", function (e) {
               if ($(e.target).is(":checked"))
                   activateConcept($(e.target).attr("data-conceptId"), $(e.target).attr("data-week"));
               else
                   deactivateConcept($(e.target).attr("data-conceptId"), $(e.target).attr("data-week"));
           });

           $(document).on("click", ".deleteConcept", function (e) {
               var id = $(e.target).parent().siblings(".conceptId").val();
               $(e.target).parent().parent().remove();
               $("#c"+id).remove();
               
               $.ajax({
                   url: "@Url.Action("RemoveConcept", "Subjects")",
                   method: "post",
                   contentType: "json",
                   data: '{"ConceptId":' + id+'}'
               });
           });

           function activateConcept(conceptId, week) {
               $.ajax({
                   url: "@Url.Action("ActivateConcept", "Subjects")",
                   method: "post",
                   contentType: "json",
                   data: '{"ConceptId":' + conceptId + ', "ActiveWeeks":"' + week + '"}',
                   success: refresh
               })
           }

           function deactivateConcept(conceptId, week) {
               $.ajax({
                   url: "@Url.Action("DeactivateConcept", "Subjects")",
                   method: "post",
                   contentType: "json",
                   data: '{"ConceptId":' + conceptId + ', "ActiveWeeks":"' + week + '"}',
                   success: refresh
               })
           }

           function refresh(res) {
               $("#weekTotal" + res["week"]).html(res["weekQuestionsCount"]);
           }

            $(function () {
                $("#datepicker").datepicker();
            });
        });
    </script>
}
