@model IEnumerable<CQA.Models.Setup>

@{
    ViewBag.Title = "Setupy";
}

<h2>Setupy</h2>

<p>
    @Html.ActionLink("Vytvoriť nový setup", "Create", null, new { @class="btn"})
</p>
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.SetupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.AnsweringProbability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @Html.DisplayFor(modelItem => item.SetupId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.AnsweringProbability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.ActionLink("Stats", "GetBasicStatistics") |
            @Html.ActionLink("Editovať", "Edit", new { id=item.SetupId }) |
            @Html.ActionLink("Detail", "Details", new { id=item.SetupId }) |
            @Html.ActionLink("Vymazať", "Delete", new { id=item.SetupId })
        </td>
    </tr>
}

</table>
