@model IEnumerable<CQA.Models.Question>

@{
    ViewBag.Title = "Zoznam otázok";
}

<h2>Otázky pre setup @(ViewData["SetupName"]), z predmetu  @(ViewData["SubjectName"])</h2>

<form action="@Url.Action("AddQuestions","Setups")" method="post" enctype="multipart/form-data" >
     <input name="file" type="file" accept=".csv" />
    <input type="hidden" name="setupId" value="@(ViewData["SetupId"])" />
    <button type="submit" class="btn btn-primary">Pridať otázky</button>
</form>



@foreach (var item in Model) {
   <div class="questionInList"> 
       <div style="float:left; margin-right:20px;">
           <div style="text-align:center">@item.Answers.Count()</div>
           <div> @if(item.Answers.Count() == 1){ @Html.Raw("Odpoveď")}
                 else if (item.Answers.Count() > 1 && item.Answers.Count() < 5)
                 {
                     @Html.Raw("Odpovede")
                 }
               else{
                    @Html.Raw("Odpovedí")
               } 
           </div> </div> 
       
       <span style="line-height:40px; font-size:20px; vertical-align:central">@item.QuestionText </span>
   </div>
}

<br />
<div>
    @Html.ActionLink("Späť na setupy", "Index")
</div>


