@model List<CQA.Models.UserProfile>
@{
    ViewBag.Title = "Zoznam študentov";
}

<h2>Študenti (@ViewBag.SetupName ):</h2>

@foreach (var u in Model)
{
    <h3>@(u.RealName.Split(' ')[1] + " " + u.RealName.Split(' ')[0])</h3>
    <span>#hodnoteni: <b>@(u.Evaluations.Count())</b> #odpovedi: <b>@(u.Answers.Count())</b> #komentárov: <b>@(u.Comments.Count())</b></span>
}