@model CQA.Models.Subject

@{
    ViewBag.Title = "Editovať predmet";
}

<h2>Editovať predmet</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Subject</legend>

        @Html.HiddenFor(model => model.SubjectId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Shortcut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Shortcut)
            @Html.ValidationMessageFor(model => model.Shortcut)
        </div>

        <p>
            <button type="submit" class="btn">Uložiť zmeny</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Späť na predmety", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
