@model IEnumerable<CQA.Models.Subject>

@{
    ViewBag.Title = "Predmety";
}

<h2>Predmety</h2>

<p>
    @Html.ActionLink("Pridať predmet", "Create", null ,new { @class = "btn" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shortcut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shortcut)
        </td>
        <td>
            @Html.ActionLink("Editovať", "Edit", new { id=item.SubjectId }) |
            @Html.ActionLink("Vymazať", "Delete", new { id=item.SubjectId })
        </td>
    </tr>
}

</table>
