@model IEnumerable<CQA.Models.Question>

@{
    ViewBag.Title = "Zoznam otázok";
}
@section Styles {
    @Styles.Render("~/Content/themes/base/css")
}


<h2>Otázky pre predmet  @(ViewData["SubjectName"])</h2>

<form action="@Url.Action("AddQuestions", "Subjects")" method="post" enctype="multipart/form-data" style="float: left" >
    <input name="file" type="file" accept=".csv" />
    <input type="hidden" name="subjectId" value="@(ViewData["SubjectId"])" />
    <button type="submit" class="btn btn-primary">Pridať otázky</button>
</form>
<div style="float:right">
    <span style="float:left; line-height: 40px; font-size:20px; margin-right: 10px; vertical-align:central">Filter:</span>
    <div style="float:left">
        <input type="checkbox" name="active" id="activeCheckbox" autocomplete="off" style="margin-left: 20px"/>
        <label for="active">aktívne</label>
    </div>
    <div style="float:left; margin-left: 10px">
        <input type="checkbox" checked="checked" name="all" id="all" style="margin-left: 20px" />
        <label for="all" >všetky</label>
     </div>
    <div style="float:left; margin-left: 10px">
        <input type="text" id="conceptsFilter"  autocomplete="off" name="conceptsFilter" />
        <label for="conceptsFilter" style="margin-left: 50px">Podľa konceptu</label>
     </div>
</div>
<div style="clear: both" />
<hr />

@foreach (var item in Model)
{
    <div class="questionInList">
        @{
            bool t = false;
            foreach (var c in item.Concepts)
            {
                if (c.ActiveWeeksList.Contains(Convert.ToInt32(ViewData["CurrentWeek"])))
                {
                    t = true;
                }
            }
            if (t)
            {
                <input type="hidden" class="active" value="1" />
            }
            else{
                <input type="hidden" class="active" value="0" />
            }
            
        }
        <!--<div style="float: left; margin-right: 20px;">
            <div style="text-align: center">@item.Answers.Count()</div>
            <div>
                @if (item.Answers.Count() == 1)
                { @Html.Raw("Odpoveď")}
                else if (item.Answers.Count() > 1 && item.Answers.Count() < 5)
                {
                    @Html.Raw("Odpovede")
                }
                else
                {
                    @Html.Raw("Odpovedí")
                }
            </div>
        </div>-->
        <!-- <span style="line-height: 40px; font-size: 10px; vertical-align: central">
            @if (@item.IsActive)
            {
                @("Aktívna")
            }
            else
            {
                @("Neaktívna")
            }
        </span>-->
        <span style="line-height: 16px; font-size: 16px; vertical-align: central">@item.QuestionText </span>
        @if (item.ImageUri != "" && item.ImageUri != null)
        {
            <div style="margin:10px"><img src="@(item.ImageUri)" style="max-width:600px"/></div>
        }
        <div class="conceptList" style="font-size: 14px; margin-top:10px;">
            Priradené koncepty: 
            @foreach (var concept in item.Concepts)
            {
                <span>
                    <span class="concept">@(concept.Value)</span>
                    <input type="hidden" class="questionId" value="@item.QuestionId" />
                    <input type="hidden" class="conceptId" value="@concept.ConceptId" />
                    <b class="removeConcept" style="cursor:pointer">x</b>
                </span>
            }
            <a class="showAddConcept" style="cursor:pointer; margin-left:10px;">Priradiť koncept</a>
        </div>

        <form class="addConcept" style="display:none">
            <input name="questionId" class="questionId" type="hidden" value="@(item.QuestionId)" />
            <input class="concepts" />
        </form>
        <div style="margin-top:10px;">

            <!-- TODO apply setup selection or move view into setups-->
            @{
                int n = 0;
                foreach(var a in item.Answers)
                {
                    n += a.Evaluations.Count();
                }
            }
        Hodnotení vykonaných nad otázkov: @n <br />    
        Odpovedí spolu: @item.Answers.Count() z toho nových: @item.Answers.Where(an => an.UserId != null).ToList().Count()
        <button class="showAnswers" style="padding:2; font-size: 12px; font-weight:normal">Zobraziť odpovede</button>
        <div class="answers" style="display:none">
            <h5>Odpovede:</h5>
            @foreach (var a in item.Answers.Where(an => an.UserId != null))
            {
                <div class="answer" style="margin-left:10px; ">
                    @Html.Raw(HttpUtility.HtmlDecode(a.Text)) (@a.Evaluations.Count() hodnot.) <span style="color:#168813">(new)</span>
                </div>
            }
            @foreach (var a in item.Answers.Where(an => an.UserId == null))
            {
                <div class="answer" style="margin-left:10px;">
                    @Html.Raw(HttpUtility.HtmlDecode(a.Text)) (@a.Evaluations.Count() hodnot.) <span style="color:#b7170b">(old)</span>
                </div>
            }
        </div>
            </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Späť na predmety", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $(".showAddConcept").click(function (event) {
                event.preventDefault();
                $(this).parent().siblings(".addConcept").slideToggle();
            });

            $(".concepts").each(function () {
                var thisEl = $(this);
                thisEl.autocomplete({
                    source: function (request, response) {
                        $.getJSON("@Url.Action("SearchConceptsForQuestion", "Subjects")?subjectId=@(ViewData["SubjectId"])&term=" + request.term + "&questionId=" + thisEl.siblings(".questionId").val(),
                              response);
                    },
                    minLength: 2,
                    select: function (event, ui) {
                        $.ajax({
                            url: "@Url.Action("AssignConceptToQuestion", "Subjects")",
                            method: "post",
                            contentType: "application/json; charset=utf-8",
                            dataType: "text",
                            data: '{"ConceptId":' + ui.item.id + ', "QuestionId":' + $(event.target).siblings(".questionId").val() + '}',
                            success: function (data) { $(event.target).parent().parent().children(".conceptList").append(data)  }
                        });
                }
                });
            });

            $("#conceptsFilter").autocomplete({
                source: function (request, response) {
                    $.getJSON("@Url.Action("SearchConcepts", "Subjects")?subjectId=@(ViewData["SubjectId"])&term=" + request.term ,
                              response);
                    },
                    minLength: 2,
                    select: function (event, ui) {
                        $(".questionInList").each(function () {
                            $(this).show();
                        });
                        $(".questionInList").each(function()
                        {
                            var has = false;
                            $(this).find(".concept").each(function()
                            {
                                if($(this).html() == ui.item.label)
                                    has = true;
                            });
                            if (!has)
                                $(this).hide();
                        });
                    }
            });

            $("#all").click(function () {
                if ($(this).is(':checked')) {
                    $('#activeCheckbox').prop('checked', false);
                    $(".questionInList").each(function()
                    {
                        $(this).show()
                        $("#conceptsFilter").val("")
                    })
                }
            })

            $("#activeCheckbox").click(function () {
                if ($(this).is(':checked')) {
                    $('#all').prop('checked', false);
                    $(".questionInList").each(function () {
                        if ($(this).find(".active").val() != 1)
                            $(this).hide();
                    })
                }
                else {
                    $('#all').prop('checked', true);
                    $(".questionInList").each(function () {
                        $(this).show()
                        $("#conceptsFilter").val("")
                    })
                }
            })

            $(".showAnswers").click(function () {
                $(this).siblings(".answers").toggle();
                if($(this).html() == "Zobraziť odpovede")
                    $(this).html("Skryť odpovede")
                else
                    $(this).html("Zobraziť odpovede")
            });

            $(document).on("click", ".removeConcept", function (event) {

                $.ajax({
                    url: "@Url.Action("RemoveConceptFromQuestion", "Subjects")",
                    method: "post", contentType: "json",
                    data: '{"ConceptId":' + $(event.target).siblings(".conceptId").val() + ', "QuestionId":' + $(event.target).siblings(".questionId").val() + '}',
                    success: function () { $(event.target).parent().remove() }
                })
            });
        });
    </script>
}


