@model CQA.Models.CreateAnswer

<div id="newAnswer">

    @using (Ajax.BeginForm( new AjaxOptions(){
    HttpMethod = "POST",
    Url = Url.Action("CreateAnswer", "QuestionsAndAnswers"),
    OnSuccess = "AnswerCreated(data)"})){

        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionId, new { @class= "questionId" })
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Text)
             @Html.ValidationMessageFor(model => model.Text, String.Empty, new { @class="text-error"})
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { @class= "questionText", autocomplete="off" })
        </div>
        <a href="@Url.Action("SkipAnswer", new { questionId = Model.QuestionId })" id="skip" class="btn">Preskočiť</a>
        <button type="submit" id="submit" class="btn btn-primary"> Odpovedať </button> 
    }
    </div>
   
