@model CQA.Models.CreateAnswer

<div id="newAnswer">

    @using (Ajax.BeginForm(new AjaxOptions()
    {
        HttpMethod = "POST",
        Url = Url.Action("CreateAnswer", "QuestionsAndAnswers"),
        OnSuccess = "AnswerCreated(data)"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionId, new { @class = "questionId" })
        </div>
        <input type="hidden" name="setupId" value="@ViewBag.setupId" />
        <div class="editor-label">
            @Html.LabelFor(model => model.Text, new { style = "font-weight: bold;" }) <span id="createdAnswer"></span>
            @Html.ValidationMessageFor(model => model.Text, String.Empty, new { @class = "text-error" })
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { id = "questionField", autocomplete = "off" })
        </div>
        <div style="text-align: center">
            <a href="@Url.Action("SkipAnswer", new { questionId = Model.QuestionId, setupId = ViewBag.setupId })" id="skip" class="btn">Preskočiť</a>
            <button type="submit" id="submit" class="btn btn-primary">Odpovedať </button>
        </div>    
    }
</div>
   
