@model CQA.Models.Question

@{
    ViewBag.Title = "Odpovedzte na otázku";
}


@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Odpovedzte na otázku</h3>

<div class="question">
    <div id="questionText">
        <span style="font-size: 0.85em; font-weight:bold">Otázka: </span>
        @Html.DisplayFor(model => model.QuestionText)
        @if(Model.ImageUri != null && Model.ImageUri != ""){
                    <a href="@Model.ImageUri" target="_blank" style="color:darkblue; font-size:0.8em">(Zobraziť obrázok)</a>
        }
    </div>
    @if (Model.ImageUri != "" || Model.ImageUri != null)
    {
        <img src="@Model.ImageUri" style="max-width: 80%" />
    }
</div>

 @{Html.RenderPartial("_CreateAnswerForm", new CQA.Models.CreateAnswer(Model.QuestionId));}
<div class="alert alert-success" style="display:none; text-align:center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Ďakujeme za odpoveď. Akonáhle bude k dispozícií spätná väzba, budete notifikovaný.
</div>
<div style="text-align:center; width: 100%">
    <a href="@Url.Action("AnswerAndEvaluate", new { setupId = ViewBag.setupId})" id="next" class="btn" style="display:none">Ďalšia otázka/hodnotenie</a>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
        <script>
            jQuery(document).ready(function ($) {
                $("#MenuSetupItem"+@ViewBag.setupId).addClass("activeMenuItem")
            })

            function AnswerCreated(data) {
                $("#answerText").prepend(data.answerText);
                $("#hint").fadeOut();
                $("#skip").fadeOut();
                $("#createdAnswer").append($("#questionField").val());
                $("#questionField").hide();
                $("#next").fadeIn();
                $('#submit').fadeOut();
                $(".alert").fadeIn();              
            }
    </script>
}