@model CQA.Models.Question

@{
    ViewBag.Title = "Odpovedzte na otázku";
}


@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Odpovedzte na otázku</h3>

<div class="question">
    <div id="questionText">
        <span style="font-size: 0.85em; font-weight:bold">Otázka: </span>
        @Html.DisplayFor(model => model.QuestionText)
        @if (Model.Hint != null)
        {
            <div id="hint"> @Ajax.ActionLink("Napovedať", "GetHint", "QuestionsAndAnswers", new { objectId = Model.QuestionId, evaluating=false }, new AjaxOptions
                       {
                           OnSuccess = "showHint(data)",
                           HttpMethod = "GET"
                       },
                       new { @class = "btn" })        
            </div>
        }
    </div>
</div>

<div class="answer" style="display:none">
    <div id="answerText">
    <span style="font-size: 0.85em; font-weight:bold">Vaša odpoveď: </span>
    </div>
</div>

<div class="alert alert-success" style="display:none; text-align:center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Ďakujeme za odpoveď. Akonáhle bude k dispozícií spätná väzba, budete notifikovaný.
</div>

 @{Html.RenderPartial("_CreateAnswerForm", new CQA.Models.CreateAnswer(Model.QuestionId));}
<div style="text-align:center; width: 100%">
    <a href="@Url.Action("AnswerAndEvaluate", new { setupId = Model.SetupId})" id="next" class="btn" style="display:none">Ďalšia otázka/hodnotenie</a>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>   
        <script>
            jQuery(document).ready(function ($) {
                $("#MenuSetupItem"+@(Model.SetupId)).addClass("activeMenuItem")
            })

            function AnswerCreated(data) {
                $("#answerText").prepend(data.answerText);
                $("#next").fadeIn();
                $("#newAnswer").fadeOut();
                $('#submit').attr('disabled', 'disabled');
                $("#answer").fadeIn();
                $(".alert").fadeIn();
            }
    </script>
    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>
}