@model CQA.Models.Answer

@{
    ViewBag.Title = "Ohodnoťte odpoveď";
}
@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Ohodnotťe správnosť odpovede</h3>

<div class="question">
    
    <h3> <span style="font-size: 0.7em;">Otázka: </span> @Html.DisplayFor(model => model.Question.QuestionText) </h3>
    @if (Model.Question.Hint != null)
    {

        <div id="hint"> @Ajax.ActionLink("Zobraziť nápovedu", "GetHint", "Questions", new { questionId = Model.QuestionId }, new AjaxOptions
                    {
                        OnSuccess = "showHint(data)",
                        HttpMethod = "GET"
                    },
                    new { @class = "btn" })        
        </div>

    }
</div>
<div class="answer"> 
    <h3><span style="font-size: 0.7em;">Odpoveď: </span>@Html.DisplayFor(model => model.Text)</h3>

</div>

<div style="text-align:center">
        @using (Ajax.BeginForm(new AjaxOptions()
        {
            HttpMethod = "POST",
            OnBegin = "onAnswerCreation",
            Url = Url.Action("CreateEvaluation", "Questions")
        }))
        {
            <input name="answerId" type="hidden" value="@Html.DisplayFor(model => model.AnswerId)" />
            <input type="hidden" id="value" name="value" value="50" />
            <div id="textValue">Čiastočne správne</div>
            <div id="sliderWrap">
                <div id="sliderInlineWrap">
                <img src="~/Images/thumbDown.png" class="thumb" id="thumbDown"/>
                <div class="ui-widget-content-wrapper">
                    <div class="slider-range" style=""></div>
                </div> 
                <img src="~/Images/thumbUp.png" class="thumb" id="thumbUp"/>
                <div style="clear:both" />
                </div>
            </div>
  
            <a href="#" class="btn skip">Preskočiť</a>
            <button type="submit" class="btn btn-primary">Ohodnotiť</button>
        }
    </div>


@section Scripts {

    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.ui.touch-punch.min.js")


   <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>  
   <script>
       jQuery.noConflict();
       jQuery('#widget').draggable();
       jQuery(document).ready(function ($) {
           $("#MenuSetupItem"+@(Model.Question.SetupId)).addClass("activeMenuItem");
        })

       jQuery(function ($) {

           $(".slider-range").each(function () { $(this).trigger('mySliderTrigger') })
               $(".slider-range").slider({
                   range: false,
                   min: 0,
                   max: 100,
                   value: 50,
                   slide: function (event, ui) {
                       $("#value").val(ui.value);
                       hex = hexFromRGB(10, 10, ui.value);
                       if (ui.value > 50) {
                           $(this).parent().css("background", "rgba(22, 149, 49, " + (ui.value - 50) * 2 / 100 + ")");
                       }
                       else {
                           $(this).parent().css("background", "rgba(143, 20, 20, " + (50 - ui.value) * 2 / 100 + ")");
                       }
                       var el = $(this).parent().parent().siblings("#textValue");
                       if (ui.value < 11)
                           el.html("Úplne nesprávne")
                       else if (ui.value < 37)
                           el.html("Čiastočne nesprávne")
                       else if (ui.value < 63)
                           el.html("Čiastočne správne")
                       else if (ui.value < 89)
                           el.html("Takmer správne")
                       else el.html("Úplne správne");
                           
                   }
               });

               //Moving sliding by icons  TODO check if the value field is also changed 
               $("#thumbDown").click(function(){
                   var val = $("#value").val();
                   if(val < 5)
                       $(".slider-range").slider('value',0);
                   else
                       $(".slider-range").slider('value',val-5);
               });
               $("#thumbUp").click(function(){
                   var val = $("#value").val();
                   if(val > 95)
                       $(".slider-range").slider('value',100);
                   else
                       $(".slider-range").slider('value',val+5);
                      
                   
               });
           });

       function hexFromRGB(r, g, b) {
           var hex = [
           r.toString(16),
           g.toString(16),
           b.toString(16)
           ];
           jQuery.each(hex, function (nr, val) {
               if (val.length === 1) {
                   hex[nr] = "0" + val;
               }
           });
           return hex.join("").toUpperCase();
       }
    </script>
       
}