@model CQA.Models.Answer

@{
    ViewBag.Title = "Ohodnoťte odpoveď";
}
@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h4>Ohodnotťe správnosť odpovede</h4>

<div class="question">
    
    <div id="questionText"> <span style="font-size: 0.85em; font-weight:bold">Otázka: </span> @Html.DisplayFor(model => model.Question.QuestionText) </div>

</div>
<div class="answer"> 
  <div id="answerText"> <span style="font-size: 0.85em; font-weight:bold">Odpoveď: </span>@Html.DisplayFor(model => model.Text)</div>
</div>

<div style="text-align:center">
        @using (Ajax.BeginForm(null, null, new AjaxOptions()
        {
            HttpMethod = "POST",
            Url = Url.Action("CreateEvaluation", "QuestionsAndAnswers"),
           // OnBegin = "CreateActivityLogData()",
            OnSuccess = "EvaluationCreated(data)"
        },
        new { autocomplete = "off" }))
        {
            <input name="answerId" type="hidden" value="@Html.DisplayFor(model => model.AnswerId)" />
            <input type="hidden" value="50" id="value" name="value" />
            
            <div id="sliderWrap">
                <div id="textValue">Čiastočne správne</div>
                <div id="sliderInlineWrap">
                <img src="~/Images/thumbDown.png" class="thumb" id="thumbDown"/>
                <div class="ui-widget-content-wrapper">
                    <div id="crowdEvaluation"> 
                        <div id="crowdSliderWrap">
                            <div id="crowdSlider"></div>
                            <div id="crowdEvaluationText"> </div>
                         </div>
                    </div>
                    <div class="slider-range" style=""></div>
                </div> 
                <img id="thumbUp" src="~/Images/thumbUp.png" class="thumb"/>
                <div style="clear:both"></div>
                </div>
            </div>
         <div style="clear:both"></div>
            <div class="alert alert-success" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Ďakujeme za hodnotenie. Vyššie si môžete pozrieť priemerné hodnotenie odpovede.
            </div>
            <a href="@Url.Action("AnswerAndEvaluate", new { setupId = Model.Question.SetupId })" id="next" class="btn" style="display:none">Ďalšia otázka/hodnotenie</a>
            <a href="@Url.Action("SkipEvaluation", new { answerId = Model.AnswerId, setupId = Model.Question.SetupId })" id="newAnswer" style="margin:0" class="btn skip">Preskočiť</a>
            <button type="submit" id="submit" class="btn btn-primary">Ohodnotiť</button>   
        }
    </div>

@section Scripts {

    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.ui.touch-punch.min.js")

   <script>
       function EvaluationCreated(data)
       {
           $("#crowdEvaluationText").html("Odpoveď davu z " + data.evalsCount+" hodnotení")
           $("#crowdSliderWrap").css("margin-left", data.avgEval*100-6 + "%");
           $(".slider-range").slider('disable');
           $("#crowdEvaluation").fadeIn();
           $("#newAnswer").fadeOut();
           $("#next").fadeIn(); 
           $('#submit').attr('disabled', 'disabled');
           $(".alert").fadeIn();
          
       }

       jQuery('#widget').draggable();
       jQuery(document).ready(function ($) {
           
           //******** Activity logging sectio *********
           //var start = new Date();
           //var totalIdle = 0;
           //var idleTime = 0;

           //function CreateActivityLogData()
           //{
           //    //Set hidden fields in form for this values
           //    elapsed = new Date() - start;
           //    //set totalIdle
           //}

           ////Counting total idle time
           //setInterval(function(){
           //    idleTime += 100
           //}, 100);
           ////Zero the idle timer on mouse movement.
           //$(this).mousemove(function (e) {
           //    totalIdle += idleTime;
           //    idleTime = 0;
           //});
           //$(this).keypress(function (e) {
           //    totalIdle += idleTime;
           //    idleTime = 0;
           //});

           $("#MenuSetupItem"+@(Model.Question.SetupId)).addClass("activeMenuItem");

           $(".slider-range").each(function () { $(this).trigger('mySliderTrigger') })
               $(".slider-range").slider({
                   range: false,
                   min: 0,
                   max: 100,
                   value: 50,
                   slide: function (event, ui) {
                       $("#value").val(ui.value);
                       hex = hexFromRGB(10, 10, ui.value);
                       if (ui.value > 50) {
                           $(this).parent().css("background", "rgba(22, 149, 49, " + (ui.value - 50) * 2 / 100 + ")");
                       }
                       else {
                           $(this).parent().css("background", "rgba(143, 20, 20, " + (50 - ui.value) * 2 / 100 + ")");
                       }
                       var el = $("#textValue");
                       if (ui.value < 8)
                           el.html("Úplne nesprávne")
                       else if (ui.value < 36)
                           el.html("Takmer nesprávne")
                       else if (ui.value < 64)
                           el.html("Čiastočne správne")
                       else if (ui.value < 92)
                           el.html("Takmer správne")
                       else el.html("Úplne správne");
                           
                   }
               });

               
               $("#thumbDown").click(function(){
                   if($('#submit').attr('disabled') != "disabled"){
                       var val = parseInt($("#value").val());
                       if(val < 5){
                           $(".slider-range").slider('value',0);
                           $("#value").val(0);
                       }
                       else{
                           $(".slider-range").slider('value',val-5);
                           $("#value").val(val-5);
                       }
                       val = $("#value") 
                       changeColorAndText(val);
                   }
               });
               $("#thumbUp").click(function(){
                   if($('#submit').attr('disabled') != "disabled"){
                       var val = parseInt($("#value").val());
                       if(val > 95){
                           $(".slider-range").slider('value',100);
                           $("#value").val(100);
                       }
                       else{
                           $(".slider-range").slider('value',val+5);
                           $("#value").val(val+5);
                       }
                       val = $("#value") 
                       changeColorAndText(val);
                   }

  
               });

               function changeColorAndText(val){
                   var el = $("#textValue");
                   var hex = hexFromRGB(10, 10, val);
                   if (val > 50) {
                       $(".slider-range").parent().css("background", "rgba(22, 149, 49, " + (val - 50) * 2 / 100 + ")");
                   }
                   else {
                       $(".slider-range").parent().css("background", "rgba(143, 20, 20, " + (50 - val) * 2 / 100 + ")");
                   }
                   var el = $("#textValue");
                   if (val < 8)
                       el.html("Úplne nesprávne")
                   else if (val < 36)
                       el.html("Takmer nesprávne")
                   else if (val < 64)
                       el.html("Čiastočne správne")
                   else if (val < 92)
                       el.html("Takmer správne")
                   else el.html("Úplne správne");
               }

           });

       function hexFromRGB(r, g, b) {
           var hex = [
           r.toString(16),
           g.toString(16),
           b.toString(16)
           ];
           jQuery.each(hex, function (nr, val) {
               if (val.length === 1) {
                   hex[nr] = "0" + val;
               }
           });
           return hex.join("").toUpperCase();
       }
    </script>
       
}